.title
{
    background: black;
   text-align: left;
   height: 2rem;

    
}
#titlespan
{
    color: whitesmoke;
   font-size: 15px;
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
  font: bold;


}
textarea
{
    margin:1rem;
    margin-bottom: 0.2rem;
    height: 4rem;
    box-shadow: 2px 2px 6px 0px rgba(148, 250, 241, 0.27);
    resize: none;
    
}
#btn
{
    /* font-size: 10px; */
  
    text-transform: none;
}
#btn1
{
     font-size: 10px;
     margin: 0;
  
      color: blue;
    
  
    text-transform: none;
}
#grey
{
    color: lightgray;
}
#black
{
    margin-right: 0.3rem;
}
.sidebarr
{
    position: absolute;
    left: 1rem;
    top: 6rem;

    border: 0.2px solid gray;
    background: whitesmoke;
    height: 70%;
    
}
#add
{
    margin: 0;
    padding: 0
    
}
